<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/yue.css" type="text/css">
    <title>{{ page.title }} | Bakarico's Blog</title>
</head>

<body>
<div class="wrapper yue">
    <header>
        <h1 class="name center">Yawaza Rico</h1>
        <center><small>', (select concat(user(), '勿忘初心')), 0, 0)#</small></center>
    </header>
    <hr />
    <div class="container">{{ content }}</div>
    <hr />
    <footer class="center">
        <a href="mailto:yawaza.nico@gmail.com">Yawaza Rico</a> © 2015 • All rights reserved.
    </footer>
</div>

</body>
</html>
